@media screen and (max-width: 425px) {
  nav {
    width: 90%;
    margin: 0 auto;
    padding: 27px 0;
    flex-direction: column;
  }
  .nav-logo-section {
    padding: 0px;
  }
  .nav-logo-section img {
    width: 80px;
    height: 40px;
  }
  .nav-menu-section > ul {
    align-items: center;
    flex-direction: column;
  }
  .follow-us-menu > ul li {
    margin-bottom: 0px;
  }
  .nav-menu-section li {
    margin-bottom: 30px;
  }
  .nav-menu-section {
    flex-direction: column;
  }
  .banner-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .banner-content {
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2;
  }
  .banner-image-container img {
    width: 80%;
    object-fit: cover;
    order: 1;
  }
  .banner-title {
    font-size: 38px;
  }
  .banner-bold-title {
    font-size: 4.5rem;
  }
  .banner-content > ul li {
    font-size: 0.8rem;
  }
  .we-gamer-section {
    flex-direction: column;
    padding: 27px 10px;
  }
  .we-gamer-content {
    width: 100%;
  }
  .we-gamer-images img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 50px;
  }
  .we-gamer-content {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .we-gamer-description {
    font-size: 14px;
    width: fit-content;
    text-align: center;
  }
  .gamers-btn {
    margin-bottom: 50px;
  }
  .we-gamer-last-line {
    font-size: 20px;
  }
  .we-gamer-last-line-bold {
    font-size: 24px;
  }
  .we-gamer-content {
    
    margin-right: 0px;
}
  .overlay-box {
    transition: none;
    width: 203px;
    height: 236px;

  }
  .online-game-section h1 {
font-size: 28px;
}
.online-game-section p {
font-size: 16px;
}
.instantly-container{
    flex-direction: column;
}
.instantly-content h1 {
  font-size: 28px;
  }
  .instantly-content{
    width: 100%;
  }
  .instantly-image-container{
    margin-right: -40px;
  }
  .play-games-container{
    flex-direction: column;
    padding: 27px 10px;
    text-align: center;
  }
  .play-games-content h1{
    text-align: center;
    font-size: 28px;
}
.online-second-image img{
    width: 30%;
    position: absolute;
    top: 75%;
    right: 5%;
}
.non-responsive{
    display: none;
}
.games-mode-section {
    padding: 2px 0px;
    margin-top: 150px;
  }
.responsive
{
    display: block;
}   
.btn-container-res button{
    font-size: 7px;
 
} 
.footer-section-container{
    padding-top: 160px;
    width: 100%;
    margin: 0 auto;
}
.footer-icon > ul {
    margin: 60px 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
  }
.footer-menu > ul {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .footer-terms > ul {
    margin: 60px 60px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    justify-content: center;
}
.last-line{
    display: none;
}
.last-line-two{
    display: block;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    list-style: none;
    padding-bottom: 130px;
}
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  nav {
    padding: 27px 5px;
  }
  .banner-container {
    padding: 27px 40px;
    align-items: center;
  }
  .banner-title {
    font-size: 28px;
  }
  .banner-bold-title {
    font-size: 3.5rem;
  }
  .banner-image-container img {
    width: 100%;
    object-fit: cover;
  }
  .primary-btn {
    margin-right: 0;
    font-size: 10px;
  }
  .buttons {
    display: flex;
    gap: 10px;
  }
  .we-gamer-section {
    flex-direction: column;
    padding: 27px 10px;
  }
  .we-gamer-content {
    width: 100%;
  }
  .we-gamer-images img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 50px;
  }
  .we-gamer-content {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .we-gamer-description {
    font-size: 18px;
  }
  .gamers-btn {
    margin-bottom: 50px;
  }
  .we-gamer-last-line {
    font-size: 20px;
  }
  .we-gamer-last-line-bold {
    font-size: 24px;
  }
  .we-gamer-content {
    
    margin-right: 0px;
}
.instantly-container{
    flex-direction: column;
}
.instantly-content h1 {
  font-size: 28px;
  }
  .instantly-content{
    width: 100%;
  }
  .instantly-image-container{
    margin-left: 100px;
  }
  .play-games-container{
    flex-direction: column;
    padding: 27px 10px;
    text-align: center;
  }
  .play-games-content h1{
    text-align: center;
    font-size: 28px;
}
  .play-games-content p{
    margin-bottom: 100px;
}
.online-second-image img{
    width: 25%;
    position: absolute;
    top: 65%;
    right: 8%;
}
.non-responsive{
    display: none;
}
.games-mode-section {
    padding: 2px 0px;
    margin-top: 150px;
  }
.responsive
{
    display: block;
}   
.btn-container-res button{
    font-size: 10px;
 
} 
.footer-section-container{
    padding-top: 160px;
    width: 70%;
    margin: 0 auto;
}
.footer-menu > ul {
    margin: 60px 30px;

    gap: 90px;

  }
.footer-icon > ul {
    margin: 60px 90px;
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: center;
  }
.footer-menu > ul {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .footer-terms > ul {
    margin: 60px 90px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    justify-content: center;
}
.last-line{
    display: none;
}
.last-line-two{
    display: block;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    list-style: none;
    padding-bottom: 100px;
}
}