* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 150px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo-section {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 15px 24px;
}
.nav-logo-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
.nav-logo-section span {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-menu-section > ul {
  display: flex;
}
.nav-menu-section > ul li {
  list-style: none;
}
.nav-menu-section > ul li a {
  color: #3c354f;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  margin-right: 28px;
}
.nav-menu-section {
  display: flex;
  align-items: center;
  padding: 15px 24px;
}
.follow-us-menu {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 15px 24px;
}
.follow-us-menu ul {
  display: flex;
  gap: 10px;
}
.follow-us-menu > ul li {
  list-style: none;
}
.follow-us-menu > ul li a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1rem;
  font-weight: 500;
}
.fa-brands {
  font-size: larger;
}
.banner-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  padding: 27px 150px;
}
.banner-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.banner-bold-title {
  font-size: 5.5rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.banner-content {
  display: flex;
  flex-direction: column;
}
.banner-content ul {
  margin-right: 10px;
}
.banner-content > ul li {
  margin-bottom: 17px;
  list-style: none;
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
}
.banner-image-container img {
  /* width: 90%; */
  margin-left: 30px;
}
.primary-btn {
  margin-top: 40px;
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 40px;
  border-radius: 48px;
  border: none;
  background-color: #ff42a5;
}
.sky {
  background-color: #4ec5f7;
}
.we-gamer-section {
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 27px 100px;
}
.we-gamer-content {
  width: 100%;
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 100px;
}
.we-gamer-title {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.we-gamer-description {
  color: #534c64;
  width: 500px;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.we-gamer-last-line {
  color: #534c64;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
}
.we-gamer-last-line-bold {
  color: #534c64;

  font-size: 28px;
  font-weight: 700;
  line-height: 45px;
}
.we-gamer-images img {
}
.gamers-btn {
  margin: 20px 0;
}
.singel-box {
  cursor: pointer;
}
.overlay-box {
  position: absolute;
  transition: 0.5s ease;
  width: 270px;
  height: 316px;
  top: 0;
  background-color: #000000;
  opacity: 0;
  border-radius: 17px;
  border: 2px solid #ff00b9;
}
.overlay {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.singel-box {
  position: relative;
  width: 300px;
}
.singel-box:hover .overlay-box {
  opacity: 0.6;
}
.singel-box img {
  width: 90%;
  border-radius: 16px;
}
.singel-box p {
  margin-top: 18px;
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px;
}
.box-container {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-wrap: wrap;
}
.online-game-section {
  padding: 27px 100px;
  /* margin: 0 auto; */
}

.online-game-section h1 {
  text-align: center;
  color: #0b0223;
  font-size: 38px;
  font-weight: 700;
  margin-top: 80px;
}
.online-game-section p {
  text-align: center;
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 80px;
}
.funny-video {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.instantly-content {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instantly-content h1 {
  margin-bottom: 24px;
  text-align: right;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.instantly-content span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.instantly-content p {
  width: 350px;
  text-align: right;
  margin-bottom: 24px;
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.instantly-container {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  padding: 27px 100px;
  align-items: center;
}
.instantly-image-container {
  position: relative;
}
.instantly-image-container img {
  width: 95%;
}
.second-image img {
  position: absolute;
  left: -20%;
  top: 60%;
  width: 40%;
}
.play-games-container {
  margin-top: 100px;
  display: flex;
  flex-direction: row-reverse;
  padding: 27px 150px;
  justify-content: space-between;
}
.play-games-image-container {
  position: relative;
}
.play-games-image-container img {
  width: 70%;
}
.online-second-image img {
  width: 30%;
  position: absolute;
  top: 55%;
  right: 20%;
}
.play-games-content h1 {
  text-align: left;
}
.play-games-content p {
  text-align: left;
}
.games-mode-section {
  padding: 27px 200px;
}
.btn-container {
    
  display: flex;
  row-gap: 20px;
  margin-top: 100px;
  justify-content: space-around;
}
.btn-container button {
  display: flex;
  gap: 4px;
  align-items: center;
  color: #0b0223;
  font-size: 12px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  padding: 15px;
}
.row-sec {
  display: flex;
  width: 80%;
  margin: 40px auto;
  justify-content: space-around;
  gap: 30px;
}
.row-sec button {
    display: flex;
    gap: 4px;
    align-items: center;
    color: #0b0223;
    font-size: 12px;
    font-weight: 600;
    border: none;
    background-color: transparent;
    padding: 15px;
}
.responsive{
    display: none;
}
.btn-container-res button{
    display: flex;
    gap: 4px;
    align-items: center;
    color: #0b0223;
    font-size: 10px;
    font-weight: 600;
    border: none;
    background-color: transparent;
    padding: 15px;
}
.btn-container-res {
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 0px;
    row-gap:10px; 
    width: 80%;
    margin: 20px auto;
}
.games-mode-section img{
    width: 20%;
}
.games-mode-section button:hover{
    border: 1px solid pink;
    border-radius: 50px;
}
.footer-section-container{
    background-color:#0B0223 ;
    width: 100%;
    margin: 0 auto;
}
.footer-logo{
    justify-content: center;
    padding-top: 120px;
}
.footer-logo h2{
    color: #FFF;
}
.footer-menu > ul {
    margin: 60px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
  }

  .footer-menu > ul li {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
  }
.footer-icon > ul {
    margin: 60px 0;
    display: flex;
    gap: 40px;
    justify-content: center;
  }
  .footer-icon > ul li {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    list-style: none;
  }
.footer-terms > ul {
    margin: 60px 0;
    display: flex;
    gap: 40px;
    justify-content: center;
  }
  .footer-terms > ul li {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    list-style: none;
  }
  .last-line-two{
    display: none;
  }
  .last-line{
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    list-style: none;
    padding-bottom: 130px;
  }